.moviesList {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 100%; */
  width: 100%;
}

.background {
  background-image: url(../assets/movie_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.InfinitySpin{
  display: flex;
  justify-content: center;
  align-items: center;
}
