.movie {
  display: grid;
  justify-content: space-between;
  margin: 1rem;
  /* padding-bottom: 1rem; */
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  flex: 0 0 calc(20%-10px);
  list-style: none;
  width: 250px;
  /* height: 300px; */
}

.img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}

.movie_details {
  padding: 5px;
}

.title_rating {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.title{
    font-weight: bold;
}

.rating{
    color: gray;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}
